.update-button {
    margin-left: 50%;
    margin-top: 5%;
}

.delete-button {
    margin-left: 3%;
    margin-top: 5%;
}

.save-button {
    margin-left: 3%;
    margin-top: 5%;
}

.cancel-button {
    margin-left: 50%;
    margin-top: 5%;
}