<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" [fullscreen]="true">

  <!-- Ion list that contains the inputs to change the password -->
  <ion-list lines="full" class="dark-background">

    <ion-card>
      <ion-item>
        <ion-input [(ngModel)]="oldPassword" placeholder="Insert old password" type="password"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-input [(ngModel)]="newPassword" placeholder="Insert new password" type="password"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-input [(ngModel)]="newPasswordRepeated" placeholder="Repeat new password" type="password"></ion-input>
      </ion-item>
    </ion-card>
  </ion-list>

  <!-- Ion list that contain the buttons to change the password -->
  <ion-list class="dark-background">

    <!-- the divs with the ngFor will be always one -->
    <div class="save-button" *ngFor="let user of users">
      <ion-button (click)="changePassword(user)">Change Password</ion-button>
    </div>

  </ion-list>
</ion-content>
