<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>New Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios" [fullscreen]="true">

  <ion-list lines="full" class="dark-background">

    <ion-card>
      <ion-item>
        
        <ion-input [(ngModel)]="newAccount.accountName" placeholder="Account name" clear-input="true"></ion-input>

        <!-- if an account name corresponds to an icon, then it will be shown, otherwise a default icon will be shown -->
        <ion-icon slot="end" name="logo-alipay" *ngIf="accountNameIsIcon(newAccount.accountName, 'alipa')"></ion-icon>
        <ion-icon slot="end" name="logo-android" *ngIf="accountNameIsIcon(newAccount.accountName, 'android')"></ion-icon>
        <ion-icon slot="end" name="logo-amazon" *ngIf="accountNameIsIcon(newAccount.accountName, 'amazon')"></ion-icon>
        <ion-icon slot="end" name="logo-apple" *ngIf="accountNameIsIcon(newAccount.accountName, 'apple')"></ion-icon>
        <ion-icon slot="end" name="logo-instagram" *ngIf="accountNameIsIcon(newAccount.accountName, 'instag')"></ion-icon>
        <ion-icon slot="end" name="logo-apple-appstore" *ngIf="accountNameIsIcon(newAccount.accountName, 'appstor')"></ion-icon>
        <ion-icon slot="end" name="logo-bitbucket" *ngIf="accountNameIsIcon(newAccount.accountName, 'bitbucket')"></ion-icon>
        <ion-icon slot="end" name="logo-bitcoin" *ngIf="accountNameIsIcon(newAccount.accountName, 'bitcoin')"></ion-icon>
        <ion-icon slot="end" name="logo-chrome" *ngIf="accountNameIsIcon(newAccount.accountName, 'chrome')"></ion-icon>
        <ion-icon slot="end" name="cloud" *ngIf="accountNameIsIcon(newAccount.accountName, 'cloud')"></ion-icon>
        <ion-icon slot="end" name="logo-codepen" *ngIf="accountNameIsIcon(newAccount.accountName, 'codepen')"></ion-icon>
        <ion-icon slot="end" name="logo-discord" *ngIf="accountNameIsIcon(newAccount.accountName, 'discord')"></ion-icon>
        <ion-icon slot="end" name="logo-dropbox" *ngIf="accountNameIsIcon(newAccount.accountName, 'dropbo')"></ion-icon>
        <ion-icon slot="end" name="logo-facebook" *ngIf="accountNameIsIcon(newAccount.accountName, 'faceboo')"></ion-icon>
        <ion-icon slot="end" name="logo-github" *ngIf="accountNameIsIcon(newAccount.accountName, 'github')"></ion-icon>
        <ion-icon slot="end" name="logo-gitlab" *ngIf="accountNameIsIcon(newAccount.accountName, 'gitlab')"></ion-icon>
        <ion-icon slot="end" name="logo-google" *ngIf="accountNameIsIcon(newAccount.accountName, 'google')"></ion-icon>
        <ion-icon slot="end" name="logo-instagram" *ngIf="accountNameIsIcon(newAccount.accountName, 'instagra')"></ion-icon>
        <ion-icon slot="end" name="logo-ionic" *ngIf="accountNameIsIcon(newAccount.accountName, 'ionic')"></ion-icon>
        <ion-icon slot="end" name="logo-linkedin" *ngIf="accountNameIsIcon(newAccount.accountName, 'linkedin')"></ion-icon>
        <ion-icon slot="end" name="mail" *ngIf="accountNameIsIcon(newAccount.accountName, 'mail')"></ion-icon>
        <ion-icon slot="end" name="logo-microsoft" *ngIf="accountNameIsIcon(newAccount.accountName, 'microsoft')"></ion-icon>
        <ion-icon slot="end" name="mail" *ngIf="accountNameIsIcon(newAccount.accountName, 'outlook')"></ion-icon>
        <ion-icon slot="end" name="logo-paypal" *ngIf="accountNameIsIcon(newAccount.accountName, 'paypal')"></ion-icon>
        <ion-icon slot="end" name="logo-pinterest" *ngIf="accountNameIsIcon(newAccount.accountName, 'pinterest')"></ion-icon>
        <ion-icon slot="end" name="logo-playstation" *ngIf="accountNameIsIcon(newAccount.accountName, 'playstat')"></ion-icon>
        <ion-icon slot="end" name="logo-google-playstore" *ngIf="accountNameIsIcon(newAccount.accountName, 'playstore')"></ion-icon>
        <ion-icon slot="end" name="logo-reddit" *ngIf="accountNameIsIcon(newAccount.accountName, 'reddit')"></ion-icon>
        <ion-icon slot="end" name="logo-slack" *ngIf="accountNameIsIcon(newAccount.accountName, 'slack')"></ion-icon>
        <ion-icon slot="end" name="logo-skype" *ngIf="accountNameIsIcon(newAccount.accountName, 'skype')"></ion-icon>
        <ion-icon slot="end" name="logo-stackoverflow" *ngIf="accountNameIsIcon(newAccount.accountName, 'stackoverflow')"></ion-icon>
        <ion-icon slot="end" name="logo-steam" *ngIf="accountNameIsIcon(newAccount.accountName, 'steam')"></ion-icon>
        <ion-icon slot="end" name="logo-soundcloud" *ngIf="accountNameIsIcon(newAccount.accountName, 'soundcloud')"></ion-icon>
        <ion-icon slot="end" name="logo-snapchat" *ngIf="accountNameIsIcon(newAccount.accountName, 'snapchat')"></ion-icon>
        <ion-icon slot="end" name="logo-tiktok" *ngIf="accountNameIsIcon(newAccount.accountName, 'tiktok')"></ion-icon>
        <ion-icon slot="end" name="logo-tumblr" *ngIf="accountNameIsIcon(newAccount.accountName, 'tumblr')"></ion-icon>
        <ion-icon slot="end" name="logo-twitch" *ngIf="accountNameIsIcon(newAccount.accountName, 'twitch')"></ion-icon>
        <ion-icon slot="end" name="logo-twitter" *ngIf="accountNameIsIcon(newAccount.accountName, 'twitter')"></ion-icon>
        <ion-icon slot="end" name="logo-vimeo" *ngIf="accountNameIsIcon(newAccount.accountName, 'vimeo')"></ion-icon>
        <ion-icon slot="end" name="logo-vk" *ngIf="accountNameIsIcon(newAccount.accountName, 'vk')"></ion-icon>
        <ion-icon slot="end" name="logo-wechat" *ngIf="accountNameIsIcon(newAccount.accountName, 'wechat')"></ion-icon>
        <ion-icon slot="end" name="logo-whatsapp" *ngIf="accountNameIsIcon(newAccount.accountName, 'whatsapp')"></ion-icon>
        <ion-icon slot="end" name="logo-windows" *ngIf="accountNameIsIcon(newAccount.accountName, 'windows')"></ion-icon>
        <ion-icon slot="end" name="logo-xbox" *ngIf="accountNameIsIcon(newAccount.accountName, 'xbox')"></ion-icon>
        <ion-icon slot="end" name="logo-youtube" *ngIf="accountNameIsIcon(newAccount.accountName, 'youtube')"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-input type="email" [(ngModel)]="newAccount.email" placeholder="Email" clear-input="true"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-input [(ngModel)]="newAccount.username" placeholder="Username" clear-input="true"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-input [(ngModel)]="newAccount.password" placeholder="Password" clear-input="true" inputmode="password"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item> 
        <ion-input [(ngModel)]="newAccount.pin" placeholder="Pin" clear-input="true"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-input [(ngModel)]="newAccount.telefono" placeholder="Number" clear-input="true"></ion-input>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-input class="input" [(ngModel)]="newAccount.description" placeholder="Description" clear-input="true"></ion-input>
      </ion-item>
    </ion-card>

    <ion-button class="save-button" *ngIf="newAccount.accountName" (click)="saveAccount()">Add Account</ion-button>
    <ion-button class="save-button" *ngIf="!newAccount.accountName" disabled>Add Account</ion-button>
  </ion-list>

</ion-content>
